<%# app/views/job/index %>
<% if @company != nil %>
  <strong>All Jobs for <%= @company.name %></strong>
  <%= link_to "Create New Job for #{@company.name}", new_company_job_path %>
<% else %>
    <strong>All Jobs</strong>
<% end %>

<% @jobs.each do |job| %>
<ul>
  <% company = Company.find(job.company_id) %>
  <li>
    <%= link_to job.title, company_job_path(company, job) %> at <%= job.company.name %> in <%= job.city %>
  </li>
</ul>
<% end %>
