<%# app/views/job/index %>
<link rel="stylesheet" href="/job/index.css" title="CSS" type="text/css"/>

<br>
<% if @company%>
  <strong>All Jobs for <%= @company.name %></strong>
  <%= link_to "Create New Job for #{@company.name}", new_company_job_path %>
<% elsif @location %>
  <strong><%=@location%> jobs</strong>
<% elsif @location1 %>
  <strong><%=@location1%></strong>
<% elsif @interest %>
  <strong><%=@interest%></strong>
<% else %>
    <strong>All Jobs</strong>
<% end %>
<br>
<br>

<table>
  <tr>
    <th>Role</th>
    <th>Company</th>
    <th><%=link_to 'City', '/jobs?sort=location'%></th>
    <th>Interest</th>
  </tr>
    <%@jobs.each do |j| %>
    <tr>
    <td><%= link_to 'Edit', edit_company_job_path(j.company, j) %>
      <%= link_to 'Delete', company_job_path(j.company, j), method: "delete" %>
    </td>
    <td><%= link_to j.title, company_job_path(j.company, j)%></td>
    <td><%= link_to j.company.name, company_job_path(j.company, j)%></td>
    <td><%= link_to j.city, company_job_path(j.company, j)%></td>
    <td><%= link_to j.level_of_interest, company_job_path(j.company, j)%></td>
    </tr>
  <%end%>


</table>
