<%# app/views/job/show %>
<h1><%= @job.title %> at <%= link_to @job.company.name, company_path(@job.company) %></h1>

  <%= link_to "Edit", edit_company_job_path(@company, @job) %>
  <%= link_to "Delete", company_job_path, method: :delete %>
<h3>Description: <%= @job.description %></h3>

<h3>Location: <%= @job.city %></h3>
<h3>Level of Interest: <%= @job.level_of_interest %></h3>
<section id="comment-form">
  <h3>Notes:</h3>
  <%= form_for [@job, @comment] do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
</section>
<hr>
<ul>
  <% if @comments %>
    <%  @comments.each do |comment| %>
      <li><%= comment.created_at %> <%= comment.content %></li>
    <% end %>
  <% end %>
</ul>
