<%# app/views/companies/_form %>
<%= form_for @company do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <section class="button-group">
    <button class="cancel-button">
      <%= link_to 'Cancel', companies_path %>
    </button>
    <%= f.submit class: 'submit-button' %>
  </section>
<% end %>
