<%# app/views/companies/show %>
<link rel="stylesheet" href="/company-path.css" title="CSS" type="text/css"/>
<strong><%= @company.name %></strong>
<button><%= link_to "Edit", edit_company_path %></button>
<button><%= link_to "Delete", company_path, method: :delete %></button>

<h3 class ='all-jobs-link'><%= link_to "All #{@company.name} Jobs", company_jobs_path(@company) %></h3>

<h3>Enter New Contact Info:</h3>

<%=form_for [@company, @contact] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit %>
<% end %>

<h3>Existing Contacts</h3>
<ul>
<% @company_contacts.each do |contact| %>
  <li><%=contact.name%> <%=contact.position%> <%=contact.email%></li>
<%end%>
</ul>
