<%# app/views/categories/index %>
<link rel="stylesheet" href="/categories.css" title="CSS" type="text/css"/>

<h3 class='headline'> Job Categories </h3>
<h3 class='create-category-headline'><%= link_to "Create New Category", new_category_path %></h3>
<ul>
  <%@categories.each do |c| %>
  <li class=category_<%=c.id%>>
    <%= link_to c.title, category_path(c) %>
    <%= link_to 'Edit', edit_category_path(c) %>
    <%= link_to 'Delete', category_path(c), method: "delete" %>
  </li>
  <%end%>
</ul>
